/* General styles */
.screen, .header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Body styles */
.screen, .screenActive {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-display: swap;
  background: linear-gradient(90deg, #F15C19, #eec305, #3040cc, #00a5f1);
  background-size: 350%, 350%;
  transition: background-position 1s ease;
}

.screen {
  background-position: 0% 50%;
}

.screenActive {
  background-position: 100% 50%;
}

/* Header styles */
.header, .headerActive {
  background: linear-gradient(90deg, #00a5f1, #3040cc, #eec305, #F15C19);
  height: 6%;
  position: fixed;
  margin: 0;
  padding: 0 5%;
  display: flex;
  align-items: center;
  width: 100%;
  background-size: 350%, 350%;
  transition: background-position 1s ease;
  z-index: 0;
}

.header {
  background-position: 100% 50%;
}

.headerActive {
  background-position: 0% 50%;
}

/* Header link styles */
.header a, .header ul li a, .headerActive a, .headerActive ul li a {
  position: relative;
  text-decoration: none;
}

.header a, .headerActive a {
  margin-right: 35%;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2cap;
  font-weight: bold;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 0% 10%;
  background-position-x: right;
  transition: text-transform 250ms ease, letter-spacing 250ms ease, color 1s ease;
}

.header a {
  color: #F15C19;
  background-image: linear-gradient(#F15C19, #F15C19);
}

.headerActive a {
  color: #3040cc;
  background-image: linear-gradient(#3040cc, #3040cc);
}

/* Header list styles */
.header ul, .headerActive ul {
  position: absolute;
  padding-left: 72%;
  display: inline-flex;
}

.header ul li, .headerActive ul li {
  list-style: none;
}

.header ul li a, .headerActive ul li a {
  margin: 0 15px;
  padding: 5px 20px;
}

.header ul li .h, .header ul li .a, .headerActive ul li .h, .headerActive ul li .a {
  font-weight: bold;
  font-size: 105%;
  letter-spacing: normal;
  text-transform: capitalize;
  border: 1px transparent #fff;
  background-repeat: no-repeat;
  transition: background-size 500ms ease, color 500ms ease;
}

.header ul li .h, .header ul li .a {
  color: #F9CD05;
  background-image: linear-gradient(#F9CD05, #F9CD05);
}

.headerActive ul li .h, .headerActive ul li .a {
  color: #00aeff;
  background-image: linear-gradient(#00aeff, #00aeff);
}

.header ul li .h, .header ul li .a, .headerActive ul li .h, .headerActive ul li .a {
  background-size: 0% 100%;
}

.header ul li .h, .headerActive ul li .h {
  background-position-x: right;
}

.header ul li .a, .headerActive ul li .a {
  background-position-x: left;
}

.header ul li .h:hover, .header ul li .a:hover, .headerActive ul li .h:hover, .headerActive ul li .a:hover {
  background-size: 100% 100%;
  background-position-x: center;
}

.header ul li .h:hover, .header ul li .a:hover {
  color: #F15C19;
}

.headerActive ul li .h:hover, .headerActive ul li .a:hover {
  color: #3040cc;
}

/* Dexsitenote styles */
.dexsitenote {
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-weight: bolder;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  height: 100%;
  width: 100%;
  top: 25%;
}

/* InputWrapper styles */
.inputWrapper {
  position: absolute;
  width: 50%;
  height: 94%;
  top: 6%;
  left: 0%;
  right: 90%;
  visibility: hidden;
  animation: wipeReveal 0.8s forwards;
  animation-delay: 2625ms; 
  overflow: hidden;
}

@keyframes wipeReveal {
  0% {
      clip-path: inset(0 100% 0 0);
      visibility: visible;
  }
  100% {
      clip-path: inset(0);
      visibility: visible;
  }
}

/* Input styles */
.input, .inputActive {
  position: absolute;
  width: 50%;
  height: 71%;
  top: 14%;
  left: 120%;
  display: flex;
  box-shadow: 0 0 17.5px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  align-items: center;
  background: transparent;
  justify-content: center;
}

.input {
  transition: transform 1s ease;
  transform: translateX(0%);
}

.inputActive {
  will-change: transform;
  contain: content;
  transition: transform 1s ease 1s;
  transform: translateX(-190%);
}

/* img styles */
.img, .imgActive {
  position: absolute;
  height: 65%;
  width: 32%;
  top: 16.75%;
  left: 33.5%;
  filter: drop-shadow(0px 0px 17.5px rgba(0, 0, 0, 0.5));
}

.img {
  transition: transform 1s ease;
  transform: translateX(250%);
}

.imgActive {
  cursor: pointer;
  will-change: transform;
  contain: content;
  transition: transform 1s ease 1.5s;
  transform: translateX(0%) translateZ(0);
}

.imgActive:not(.no-hover):hover{
  transition: transform 1s ease;
  transform: scale(1.075) translateZ(0);
}

/* P styles */
.p {
  position: absolute;
  top: 0%;
  color: #fff;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 135%;
  background-color: #F15C19;
  width: 100%;
  height: 7.5%;
  text-align: center;
  padding-top: 4.5%;
  transition: letter-spacing 0.5s ease;
}

.p:hover {
  letter-spacing: 0px;
}

/* Sep styles */
.sep {
  position: absolute;
  height: 0.75%;
  width: 100%;
  top: 10.65%;
  background-color: #eec305;
  border-radius: 1000%;
}

/* Txt styles */
.txt {
  position: absolute;
  top: 17.5%;
  height: 22.5%;
  width: 80%;
  font-weight: bolder;
  font-size: larger;
  align-content: center;
  text-align: center;
  padding: 2.5%;
  background-color: rgba(255, 183, 0, 0.192);
  border: 3.5px #ff5100 solid;
  transition: border 250ms ease;
}

.txt:focus {
  border: 3.5px #f9d405 solid;
  background-color: transparent; 
  outline-style: groove;
  color: #fff;
}

/* Btn styles */
.btn {
  position: absolute;
  top: 52.5%;
  width: 50%;
  height: 5.5%;
  padding-top: 3.25%;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #f3601c;
  text-align: center;
  cursor: pointer;
  transition: background-color 500ms ease;
}

.btn p {
  color: #fff;
  text-align: center;
  font-size: 90%;
  letter-spacing: 2.5px;
  transition: color 750ms ease, letter-spacing 0.5s ease;
}

.btn:hover {
  background-color: #f9d405;
}

.btn:hover p {
  color: #f3601c;
  font-weight: bolder;
  letter-spacing: 5px;
}

/* ActiveClass and InactiveClass styles */
.activeClass, .inactiveClass {
  position: absolute;
  top: 68%;
  height: 32.5%;
  width: 100%;
  background-color: #0000004d;
  border-color: transparent;
  transition: 500ms ease;
  color: #fff;
  font-size: 1.75cap;
  font-weight: bolder;
  letter-spacing: 2.5px;
  display: flex;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inactiveClass {
  transform: translateY(100%);
}

.activeClass {
  transform: translateY(0%);
}

/* Divider styles */
.divider {
  position: absolute;
  top: 50%;
  left: 49.7%;
  right: 50%;
  width: 0.6%;
  height: 1.2%;
  border-radius: 10px;
  background-color: #fff;
  animation: animateDivider 2s forwards 1.5s, colorchange 1000ms 0.5s;
  z-index: 100;
}

@keyframes colorchange {
  0%   {background-color: #fff;}
  25%  {background-color: blue;}
  50%  {background-color: #f3601c;}
  75%  {background-color: #f9d405;}
  100% {background-color: #fff;}
}

@keyframes animateDivider {
  0% {
    left: 49.75%;
    height: 1.2%;
    width: 0.6%;
    top: 50%;
  }
  50% {
      left: 0;
      height: 1.2%;
      width: 0.6%;
      top: 50%;
  }
  100% {
      left: 49.7%;
      height: 80%;
      width: 0.6%;
      top: 13%;
  }
}

/* LogoWrapper styles */
.abtWrapper {
  position: absolute;
  width: 50%;
  height: 94%;
  top: 6%;
  left: 50%;
  right: 10%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  visibility: visible;
  overflow: hidden;
}

/* logo styles */
.logo{
  position: absolute;
  top: 20%;
  height: 60%;
  width: 60%;
  left: 19%;
  filter: drop-shadow(0 0 20px #fffa00);
  transform: translateX(-170%) translateZ(0);
  transition: transform 1s ease 0.75s;
}

.logoActive{
  position: absolute;
  top: 20%;
  height: 60%;
  width: 60%;
  left: 19%;
  filter: drop-shadow(0 0 20px #fffa00);
  cursor: pointer;
  will-change: transform;
  contain: content;
  transform: translateX(0%) translateZ(0);
  transition: transform 1s ease 1s;
}

.logoActive:not(.no-hover):hover {
  transition: transform 1s ease;
  transform: scale(1.075) translateZ(0);
}

/* About styles */
.about, .aboutActive {
  position: absolute;
  width: 50%;
  height: 71%;
  top: 14%;
  left: 24.5%;
  display: block;
  box-shadow: 0 0 17.5px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background: transparent;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.about {
  transition: transform 1s ease;
  transform: translateX(-197.5%);
}

.aboutActive {
  transition: transform 1s ease 2s;
  transform: translateX(0%);
}

/* Abt styles */
.abt {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  align-items: center;
  justify-content: center;
}

.atitle {
  background-color: #f16f19;
  height: 8%;
  width: 100%;
  padding-top: 4%;
  color: #fff;
  font-weight: bolder;
  font-size: 150%;
  margin-bottom: 5%;
  letter-spacing: 0px;
  transition: letter-spacing ease 0.5s;
}

.atitle:hover {
  letter-spacing: 5px;
}

.abt p {
  top: 13.5%;
  font-size: 27.5px;
  color: #3040cc;
  position: absolute;
  height: 20%;
  width: 95%;
  padding-top: 5%;
  line-height: 150%;
}

.abt span {
  color: #fff;
  font-weight: bolder;
  letter-spacing: 3px;
  background-position-y: bottom;
  background-position-x: right;
  background-size: 0% 10%;
  background-image: linear-gradient(#ff5100, #ff7839);
  background-repeat: no-repeat;
  transition: background-size 750ms ease, letter-spacing 750ms ease,
}

.abt span:hover {
  background-position-x: left;
  letter-spacing: 0px;
  background-size: 100% 10%;
}

/* Links styles */
.links {
  position: absolute;
  background-color: #ffffff83;
  border-radius: 30px;
  top: 37.5%;
  height: 20%;
  width: 90%;
  left: 5%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.insta {
  background: url(../app/assets/insta.png);
  transform: translateX(10%);
}

.linked {
  background: url(../app/assets/linked.png);
  transform: translateX(117.5%);
}

.github {
  background: url(../app/assets/github.png);
  transform: translateX(225%);
}

.insta, .linked, .github {
  position: absolute;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 35%;
  width: 30%;
  top: 10%;
  left: 0%;
  border-radius: 25px;
  cursor: pointer;
  transition: background-size 0.5s ease;
}

.insta:hover, .linked:hover, .github:hover {
  background-size: 125%;
}

.mail {
  background-color: #9e4cfc;
  transform: translateX(115%);
}

.portfolio {
  background-color: #00aeff;
  transform: translateX(8.5%);
}

.mail, .portfolio {
  position: absolute;
  color: #FFF;
  letter-spacing: 2.5px;
  font-size: large;
  font-weight: bold;
  line-height: 43.75px;
  height: 32.5%;
  width: 45%;
  top: 55%;
  left: 0%;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: letter-spacing 0.5s ease;
}

.mail:hover, .portfolio:hover {
  letter-spacing: 5px;
}

/* Alert styles */
.alert {
  position: absolute;
  color: #fff;
  font-weight: bolder;
  background: #00000000;
  border: 2px solid #fff;
  padding: 20px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin: 10px;
  margin-right: 20px;
  top: 60%;
  border-radius: 30px;
  transition: letter-spacing 0.5s ease, background 0.5s ease;
}

.alert:hover {
  letter-spacing: 0.47px;
  background: #ffffff18;
}

.credit {
  text-decoration: double;
  color: #fdad36;
  font-size: large;
  cursor: pointer;
  text-decoration: underline #fdad36;
  margin-bottom: 2.5%;
  margin-top: 1%;
  transition: letter-spacing 0.5s ease;
}

.alert:hover .credit {
  letter-spacing: 1px;
}